{
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/standard"
  ],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["babel", "flowtype", "prettier"],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
